
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 15px;
  background-color: #262938; 
  color: #eee; 
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  width: 400px;
  user-select: none;
}

button, input[type="text"] {
  font-family: inherit;
  font-size: inherit; 
  padding: 3px 10px; 
  background-color: #3D4456; 
  color: #eee;
  border: none; 

  &:focus {
    outline: 1px solid #ff6; 
  }

  &:active {
    background-color: darken(#3D4456, 10%); 
  }
}




