
.Checkbox {
  display: inline-block;
  background-color: #ddd;
  border: 4px solid #ddd;
  padding: 4px; 
  box-sizing: border-box;
  width: 25px;
  height: 25px;

  &[data-checked=true] {
    background-color: #ff4d4d;
  }

  &:focus {
    outline: 1px solid #ff6
  }
}
